html, body {
  width: 100%;
  height: 100%;
}

button {
  background: none;
}

body {
  background: black;
  box-sizing: border-box;
  color: #081018;
  font-family: 'Rubik', sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

#app {
  width: 100%;
  height: 100%;
}

.graffle-main {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.graffle-main .nodes {
  position: relative;
  height: 100%;
  flex: 1;
}

.graffle-main svg {
  height: 100%;
  width: 100%;
}

.node.selected {

}

.node.selected .outline {
  background: #00a2ff;
  opacity: 1;
}

.node.selected .name {
  color: #00a2ff;
}

.node.deselected {

}

.node.deselected .outline {
  background: #a2a18a;
}

.node:hover .outline {
  padding: 16px;
}

.node {
  top: -1px;
  justify-content: center;
  transform-origin: 50% 50%;
  user-select: none;
  border: 1px solid transparent;
  align-items: center;
  padding: 8px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  transition: padding 800ms ease, border 250ms ease;
  background: rgba(255, 255, 255, 0.2);
  left: -1px;
}

.node:hover {
  padding: 16px;
}

.node .outline {
  background: #fff6c2;
  border-radius: 50%;
  border: 1px solid transparent;
  height: 16px;
  transition: background 500ms ease, opacity 500ms ease, padding 400ms ease;
  width: 16px;
}

.node .name {
  line-height: 100%;
  text-align: center;
  transform: translateX(-50%);
  white-space: nowrap;
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  bottom: -32px;
  pointer-events: none;
  color: rgba(255,255,255,0.5);
  left: 50%;
}